html {
    background-image: url('01.jpg');
    
    image-rendering: optimizeSpeed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 2%;
    padding: 5%;
}

h1 {
    color:rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

p {
    padding-left: 2%;
    color:#ffffff;
    font-family: 'Titillium Web', sans-serif;
    text-align: left;
    font-size: larger;
}

h2 {
    color: rgb(32, 189, 39);
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

ol {
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: medium;
}

ul {
    color: rgb(255, 255, 255);
    font-family: 'Titillium Web', sans-serif;
    font-size: medium;
}

a:link, a:visited {
    background-color: #2daae4;
    color: white;
    padding: 10px 25px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgb(15, 118, 158);
  }